# Update configuration. Spece delimited.  Two columns are expected.  
# (1) FITS keyword  
# (2) HDUs where this is applied (can be numeric or named)  
# Lines beginning with hashmark are ignored  
#            
# updates in the IMG and MSK HDUs  
EQUINOX        SCI,MSK
RADESYS        SCI,MSK
CTYPE1         SCI,MSK
CTYPE2         SCI,MSK
CUNIT1         SCI,MSK
CUNIT2         SCI,MSK
CRVAL1         SCI,MSK
CRVAL2         SCI,MSK
CRPIX1         SCI,MSK
CRPIX2         SCI,MSK
CD1_1          SCI,MSK
CD1_2          SCI,MSK
CD2_1          SCI,MSK
CD2_2          SCI,MSK
PV1_0          SCI,MSK
PV1_1          SCI,MSK
PV1_2          SCI,MSK
PV1_3          SCI,MSK
PV1_4          SCI,MSK
PV1_5          SCI,MSK
PV1_6          SCI,MSK
PV1_7          SCI,MSK
PV1_8          SCI,MSK
PV1_9          SCI,MSK
PV1_10         SCI,MSK
PV2_0          SCI,MSK
PV2_1          SCI,MSK
PV2_2          SCI,MSK
PV2_3          SCI,MSK
PV2_4          SCI,MSK
PV2_5          SCI,MSK
PV2_6          SCI,MSK
PV2_7          SCI,MSK
PV2_8          SCI,MSK
PV2_9          SCI,MSK
PV2_10         SCI,MSK